.App {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  /* display: block; */
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Game {
  max-width: 768px;
}

footer {
  flex: 0 0 30px; /*or just height:50px;*/
  margin-top: auto;
  text-align: center;
  border-top: 1px solid grey;
}

footer a {
  margin-left: 2px;
  color: #eee;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
